*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

main{
    width: 70%;
    margin: auto;
}

body{
    background-color: #ECF0F1;
}

#comeco{
    display: flex;
    gap: 10px;
}

#comeco p{
    width: 50%;
}

header{
    text-align: center;
    font-size: 1.5rem;
}

h1{
    color: #163837;
}

header img{
    width: 100%;
    
}

nav{
    background-color: #0D2525;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav a{
    color: #46dabf;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 5px;
}

nav a:hover{
    background-color: #163837;
}

.voltar{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 10px;
    background-color: #0D2525;
    color: #ffffff;
    width: 150px;
    border-radius: 8px;
    clear: both;
}

a{
    color: #0044ff;
    text-decoration: none;
}

.voltar:hover {
    background-color: #163837;
}

figcaption{
    margin-bottom: 10px;
}

.secao {
    background-color: #ffffff;
    margin-top: 0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) ;
}

.imagem-direita{
    float: right;
    margin-left: 20px;
}

h2{
   margin: 30px 0;
   /* clear: both; */
}

h3{
    /* clear: both; */
    margin-top: 20px;
    margin-bottom: 10px;
}

.imagem-esquerda{
    float: left;
    margin-right: 20px;
}

#final{
    display: flex;
    gap: 10px;
}

footer{
    background-color: #0D2525;
    color: #46dabf;
    text-align: center;
    padding: 15px;
}