header{
    text-align: center;
    background-color: #CC5200;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

section > article{
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
}

section header{
    text-align: center;
    background-color: #0066CC;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

section > footer{
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}