body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.paralax{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax1{
    background-image: url('../img/Imagem3.jpg');
}

.paralax2{
    background-image: url('../img/Imagem4.jpg');
}

.content{
    height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    /* opacity: 0.5; */
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
}