#titulo {
    color: #2C3E50;
    font-size: 2em;
    text-align: center;
}

#rodape {
    background-color: #34495e;
    color: white;
    padding: 20px;
    text-align: center;
}

.secao {
    background-color: #ECF0F1;
    padding: 20px;
    margin: 10px 0;
}

.secao h2 {
    color: #16a085;
}