*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #fcfce7;
}

main{
    width: 80%;
    margin: auto;
}

h1{
    color: #520120;
    margin-left: 20px;
    font-size: 2.5em;
}

header{
    min-height: 70px;
    background-color: #f5f8c7;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 10px;
}

article p{
    width: 70%;
    margin: auto;
    line-height: 1.3;
}

strong{
    color: #520120;
}

footer{
    background-color: #f5f8c7;
    text-align: center;
    font-weight: bold;
    color: #520120;
    padding: 20px;
    margin-top: 15px;
}

table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    border: 2px solid #f5f8c7;
    /* background-color: red; */
}

th{
    background-color: #f5f8c7;
    color: #520120;
}

th, td{
    border: 2px solid #f5f8c7;
    padding: 10px;
    text-align: center;
}

tr:hover{
    background-color: #f5f8c7;
}

#titulo{
    font-size: 3em;
    padding-bottom: 20px;
    text-align: center;
}

#titulo-curiosidades{
    color: #520120;
    text-align: center;
    padding-top: 20px;
}

.titulo-produtos-servicos{
    color: #520120;
    text-align: center;
    padding-bottom: 30px;
    padding: 15px 0;
}

.navegacao ul{
    display: flex;
    justify-content: center;
}

.navegacao li{
    padding: 10px 16px;
    text-align: center;
}

.navegacao li:hover{
    border-bottom: 1px solid #520120;
}

.navegacao li > a{
    text-decoration: none;
    color: #520120;
}

.conteudo{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex: 1;
}

#imagem-conteudo{
    display: flex;
    flex: 2;
}

#banner{
    width: 100%;
    height: 90vh;
    margin-bottom: 30px;
    object-fit: cover;
}

#secao-curiosidades{
    width: 80%;
    height: 260px;
    background-color: #f5f8c7;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
}

#curiosidades{
    display: block;
    list-style-type: disc;
    list-style-position: inside;
}

#curiosidades li{
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    line-height: 1.2;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 15px;
}

.card {
    margin: auto;
    width: 280px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #dee67c; /* Apenas para visualização */
}


@media (max-width: 768px){
    
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .navegacao li{
        width: 90vw;
        border-bottom: 1px solid #7a5865;
    }

    /* #navegacao li:hover{
        border-bottom: 1px solid #7a5865;
    } */

    .conteudo-principal{
        flex-direction: column;
    }

    .conteudo{
        flex-direction: column;
    }

    .navegacao ul{
        flex-direction: column;
    }

    #imagem-conteudo{
        width: 350px;
        height: 350px;
        margin: auto;
        padding-top: 15px;
    }

    #secao-curiosidades{
        height: 70vh;
    }
}