*{
    margin: 0;
    padding: 5px;
}

body{
    margin: 0 auto;
    width: 50%;
}

header{
    background-color: #3e0303;
    padding: 40px;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #a52a2a;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

p{
    color: #5f9ea0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

.destaque{
    color: chocolate;
}